navbar

md-content(layout-padding)
  form.businessnames-autocomplete-test
    md-autocomplete(md-selected-item='main.selectedBusinessname', md-search-text='main.businessnameSearchQuery', md-autoselect='true'
    md-items='businessnameItem in main.searchBusinessnames(main.businessnameSearchQuery)', md-min-length='1', md-delay='150'
    md-item-text='businessnameItem.name + " (" + businessnameItem.businessNumber + ")"', placeholder='Search for a business name', md-match-case-insensitive='true',
    md-menu-class="autocomplete-businessname-template")
      md-item-template
        span.businessname-autocomplete-item
          strong.businessname-item-title(md-highlight-text='main.businessnameSearchQuery', md-highlight-flags='^i') {{businessnameItem.name}} ({{businessnameItem.businessNumber}})
          span.businessname-item-definition {{businessnameItem.address}}
      md-not-found
        | No businessname matching "{{main.businessnameSearchQuery}}" were found.


md-content(layout-padding)

  h2 Calculate your CPX Levy rate
  form.bic-autocomplete-test
    md-autocomplete(md-selected-item='main.selectedBic', md-search-text='main.bicSearchQuery', md-autoselect='true'
    md-items='bicItem in main.searchBic(main.bicSearchQuery)', md-min-length='1', md-delay='150'
    md-item-text='bicItem.code + ": " + bicItem.desc', placeholder='Search for a bic', md-match-case-insensitive='true',
    md-menu-class="autocomplete-bic-template")
      md-item-template
        span.bic-autocomplete-item
          strong.bic-item-title(md-highlight-text='main.bicSearchQuery', md-highlight-flags='^i') {{bicItem.code}}: {{bicItem.desc}}
          span.bic-item-definition {{bicItem.definitionPlainText}}
      md-not-found
        | No bic matching "{{main.bicSearchQuery}}" were found.

    md-input-container
      label Earnings
      input(type='number', ng-model='main.earnings')

    md-input-container
      label Cover
      input(type='number', ng-model='main.cover')

    div
      label(ng-show='main.cpxLevyRate && main.isValidCalculation') CPX Levy rate: {{main.cpxLevyRate}}
      md-progress-circular(ng-show='! main.cpxLevyRate && main.isValidCalculation', md-mode='indeterminate')

md-content
  label Address Lookup Test
  div
    md-autocomplete(md-floating-label='Address', md-items='address in main.addressQuerySearch(main.addressSearchText, true)',
    md-search-text='main.addressSearchText', md-selected-item='main.address', md-item-text='address.description')
      md-item-template
        span(md-highlight-text='main.searchText') {{address.description}}

//footer
